body {
  margin: 0;
}

form * {
  display: block;
  width: 80%;
  margin: 1em;
}

#checkbox {
  display: inline;
}
#amsterdam-iframe {
  display: flex;
  align-items: center;
  justify-content: center;
}
